body {
  font-family:"SimSun";
}

code {
  line-height:250%;
  letter-spacing:6px;  
  font-family:"SimSun";
}

.md-typeset pre>code {
  font-size:1.6rem;
}
  
.md-typeset h2 {
  margin:2rem 0 1.6rem;
  font-size:2.3rem;
  line-height:1.4;
}
  
.md-typeset h4 {
  font-size:1.5rem;
}

@media print{
  a:after{
      content:""!important;
  }
}