body {
  font-family:"SimSun";
}

code {
  line-height:250%;
  letter-spacing:6px;  
  font-size:1.8rem;
  font-family:"SimSun";
}
  
.md-typeset h2 {
  margin:2rem 0 1.6rem;
  font-size:2.3rem;
  line-height:1.4;
}
  
.md-typeset h4 {
  font-size:1.5rem;
}