body{font-family: Sun; background: #FFF;}

/** 首页 */

/*导航部分*/
.nav{width: 100%; height: 45px; box-shadow: 0 3px 3px 0 #CCC; background: #FFF; position: fixed; top: 48px; z-index: 999; overflow: hidden; transition: 0.3s}
.nav.index{background: rgba(255, 255, 255 ,0.8); box-shadow: 0 0 0 0 rgba(0,0,0,0.05);}
.nav.scroll{ background: #FFF; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05); transition: 0.3s}
.nav .layui-container{position: relative; transition: all 400ms ease-out;}
.nav .nav-logo{height: 100%; line-height: 80px; position: absolute; top: 0; left: 0px;}
.nav .nav-index{color: #2db5a3; position: absolute; top: 15px;}
.nav .nav-list{display: inline-block;}
.nav .layui-nav{width: 100%; color: #000; background: transparent;}
.nav .layui-nav .layui-nav-item{display: block; top: 5px;}
.nav .layui-nav *{font-size: 18px;}
.nav .layui-nav .layui-nav-item a{padding: 0 0; color: #000;}
.nav .layui-nav-bar,
.nav .layui-nav .layui-this:after{height: 2px; background-color: #2db5a3;}
.nav .layui-nav .layui-this a
,.nav .layui-nav .layui-nav-item a:hover{color: #2db5a3;}

.nav .layui-nav-right{width: auto; position: fixed; right: 15px; top: 41px;}
.layui-btn{width: 75px; height: 28px; line-height:28px; padding: 0 18px; overflow:hidden; display: inline-table;}

/** 关于 */
.banner.about{background: url(../img/nav_img4.jpg) no-repeat center top; background-size: cover;}
.main-about{padding-bottom: 20px;}
.main-about ul.aboutab{padding: 100px 0 30px 0; text-align: center;}
.main-about ul.aboutab a{display: inline-block; padding: 0 22px; margin-left: 15px; font-size: 24px; line-height: 40px; color: #b5b5b5; border: 1px solid #e2e2e2; border-radius: 3px; cursor: pointer;}
.main-about ul.aboutab a:first-child{margin-left: 0;}
.main-about ul.aboutab a.layui-this
,.main-about ul.aboutab a:hover{color: #2ab5a3; border-color: #afddd7; transition: 0.3s;}
.main-about .tabJob, .main-about .tabCour{display: block;}
/*招贤纳士*/
.main-about .tabJob .content{padding: 0 0 20px 0px; border: 1px solid #e2e2e2; border-top: 4px solid #65d0c5; margin-top: 20px;}
.main-about .tabJob .content:first-child{margin-top: 10px;}
.main-about .tabJob .content p{line-height: 40px;}
.main-about .tabJob .content ul{padding-left: 20px; list-style-type: none; counter-reset: sectioncounter;}
.main-about .tabJob .content ul li{color: #000000; font-size: 22px; line-height: 40px;}
/* .main-about .tabJob .content ul li:before {content: counter(sectioncounter) "、"; counter-increment: sectioncounter;} */
/*发展历程*/
.keysView{font-size: 15px; line-height: 24px; cursor: pointer;}

@media screen and (max-width: 480px){
  .nav .layui-nav .layui-nav-item{display: none}
  .main-about ul.aboutab{padding: 70px 0;}
  .main-about ul.aboutab li{padding: 0 15px; font-size: 16px; box-sizing: border-box;}
  .main-about .tabIntro .content .img{width: 100%;}
  .main-about .tabIntro .content .panel{width: 100%;}
  .main-about .tabIntro .content .panel.p_block{display: none;}
  .main-about .tabIntro .p_hidden{display: block;}
  .main-about .tabJob .content p{font-size: 16px; line-height: 30px;}
  .main-about .tabJob .content ul{padding-left: 0px;}
  .main-about .tabJob .content ul li{font-size: 15px; line-height: 30px; margin-left: 10px;}
  .layui-btn{width: 60px; padding: 0 10px;}
}
/*小屏幕*/
@media screen and (min-width: 768px){
  .nav{max-height: 80px;}
  .nav.index{background: rgba(255, 255, 255 ,0.3);}
  .nav .nav-list button{display: none;}
  .nav .layui-nav{width: auto; position: relative; padding: 5px 5px 0 5px; border-radius: 0; margin: 0;}
  .nav .layui-nav .layui-nav-item{display: inline-block; margin:0 23px; line-height: 22px;}
  .main-product p.title
  ,.main-service p.title{font-size: 36px; line-height: 216px;}
  .main.product .content .content-img{text-align: left;}
  .main-news .content .news-panel strong a{font-size: 20px; line-height: 30px;}
  .main-news .content .news-panel p.read-push{padding-top: 0; position: absolute; bottom: 40px;}
  .main-newsdate .pushtime{line-height: 142px;}
  .main-case .content{width: 45%;}
  .main-case .content.even{margin-left: 9%;}
  .main-about ul.aboutab li{padding: 0 32px; font-size: 24px; margin-left: 30px; line-height: 50px;}
  .main-about .tabIntro .content p{padding: 0 30px; font-size: 18px; line-height: 30px;}
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .main.product .content div.right{padding-left: 20px;}
  .nav .layui-nav .layui-nav-item{margin:0 33px;}
}
/*大屏幕*/
@media screen and (min-width: 992px){
  .main-about .tabIntro .content p{padding: 0 50px; font-size: 20px; line-height: 40px;}
  .md-typeset code {
    letter-spacing:10px;
  }
}
/*超大屏幕*/
@media screen and (min-width: 1200px) {
  .main-about .tabCour .timeline li .cour-panel{padding-left: 50px;}
  .main-about .tabCour .timeline li.odd .cour-panel{padding-left: 0; padding-right: 50px;}
  .md-typeset code {
    letter-spacing:10px;
  }
}
@media screen and (min-width: 1300px) {
  .layui-container{width: 1200px; padding: 0;}
  .main-about .tabJob .content:last-child{margin-bottom: 180px;}
  .nav .nav-logo{position: absolute; top: 0; left: 0;}
  .layui-col-space80{margin: -40px;}
  .layui-col-space80>*{padding: 40px;}
}
